<footer class="">
  <data class="" href="{{ "/" | relative_url }}"></data>

  <div class="container">
    <img src="{{"/assets/images/default/logo.png" | relative_url }}" alt="" class="logo">
    <div class="row">
      <div class="one-third column">

        {%- if site.author -%}
        {{ site.author | escape }}
        {%- else -%}
        {{ site.title | escape }}
        {%- endif -%}
        {%- if site.email -%}
        <br>
        <a class="" href="mailto:{{ site.email }}">{{ site.email }}</a>
        {%- endif -%}


      </div>

      <div class="one-third column">
        {%- include social.html -%}
      </div>

      <div class="one-third column">
        <p>
          {{- site.description | escape -}}
        </p>
        <!--
                      <p>
                        We are looking for reporters with limitless creativity and humongous humor, capable of writing next gen satirical news articles. Contact us to be a part of the Alu family. You will get:
                      </p>
                      <ul>
                        <li>A camera (On your phone)</li>
                        <li>Handsome salary ($0/month)</li>
                        <li>Name and fame</li>
                        <li>A cute partner (Imaginary)</li>
                        <li>And so on.</li>
                      </ul>
                      -->
      </div>
    </div>

  </div>

</footer>

<script type="text/javascript" src="{{ "/assets/js/snazzymenu.min.js" | relative_url }} "></script>
<script>
  const snazzy_opt = {
    theme: 'light',
  }
  snazzyMenu.init(snazzy_opt);
</script>
<script defer src="{{ "/assets/js/custom_codes.js" | relative_url }} "></script>