<footer class="">
  <data class="" href="{{ "/" | relative_url }}"></data>

  <div class="container">

    <div class="grid">
      <div>
        <img src="{{"/assets/images/default/logo.png" | relative_url }}" alt="" class="logo">
        <p class="rss-subscribe">

          <a href="{{ "/feed.xml" | relative_url }}">Feed
            {% include icon.html icon="rss" %}

          </a>
        </p>
        <h5>ট্যাগ</h5>
        <ul class="tag-cloud">

          {% for tag in site.tags limit:15 %}
          {% assign tag_count = tag[1].size %}
          <li>
            <a href="{{ "/tag/" | append: tag[0] | relative_url }}" style="font-size: clamp(0.7rem, calc(1rem + (2 * {{ tag_count }}px)), 2rem);" class="tag">
              #{{ tag[0] }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {%- if site.email -%}
        <br>
        <a class="" href="mailto:{{ site.email }}">{{ site.email }}</a>
        {%- endif -%}
      </div>

      <div class="grid grid-2">
        <div>
          <h5>মূল লিংকসমূহ</h5>
          <ul>
            {% for page in site.data.navigation.pages %}
            <li>
              <a href="{{ page.href | relative_url }}">{{ page.title }}</a>
            </li>

            {% endfor %}
          </ul>
        </div>
        <div>
          <h5>খবর</h5>
          <ul>
            {% for category in site.data.navigation.categories %}
            <li>
              <a href="{{ "/category/" | append: category | relative_url }}">{{ category }}</a>
            </li>

            {% endfor %}
          </ul>
        </div>
      </div>

      <div>
        <p>
          {{- site.description | escape -}}
        </p>

      </div>
    </div>

  </div>

</footer>



<script type="text/javascript" src="{{ "/assets/js/feather.min.js" | relative_url }} "></script>
<script type="text/javascript" src="{{ "/assets/js/snazzymenu.min.js" | relative_url }} ">
</script>
<script>
  feather.replace();
  const snazzy_opt = {
    theme: 'light',
  }
  snazzyMenu.init(snazzy_opt);
</script>
<script defer src="{{ "/assets/js/custom_codes.js" | relative_url }} "></script>