<footer class="">
  <data class="" href="{{ "/" | relative_url }}"></data>

  <div class="container">

    <div class="grid">
      <div>
            <img src="{{"/assets/images/default/logo.png" | relative_url }}" alt="" class="logo">

        {%- if site.email -%}
        <br>
        <a class="" href="mailto:{{ site.email }}">{{ site.email }}</a>
        {%- endif -%}
      </div>

      <div class="grid grid-2">
        <div>
          <h5>মূল লিংকসমূহ</h5>
          <ul>
            {% for page in site.data.navigation.pages %}
            <li>
              <a href="{{ page.href | relative_url }}">{{ page.title }}</a>
            </li>

            {% endfor %}
          </ul>
        </div>
        <div>
          <h5>খবর</h5>
          <ul>
            {% for category in site.categories %}
            {% if category[0] != "p" and category[0] != "News" %}
            <li>
              <a href="{{ "/categories/" | append: category[0] | relative_url }}">{{ category[0] }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div>
        <p>
          {{- site.description | escape -}}
        </p>

      </div>
    </div>

  </div>

</footer>
<script type="text/javascript" src="{{ "/assets/js/feather.min.js" | relative_url }} "></script>
<script type="text/javascript" src="{{ "/assets/js/snazzymenu.min.js" | relative_url }} ">
</script>
<script>
  feather.replace();
  const snazzy_opt = {
    theme: 'light',
  }
  snazzyMenu.init(snazzy_opt);
</script>
<script defer src="{{ "/assets/js/custom_codes.js" | relative_url }} "></script>