<header class="logo-header">
  <div class="tac">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}" class="header-logo-wrapper">
      <img src="{{"/assets/images/default/logo.png" | relative_url }}" alt="" class="logo">
    </a>
  </div>
</header>
{% include breaking-ticker.html %}
<nav class="main-nav">
  <div class="snazzymenu">
    <ul class="menu">
      <li class="menu-item-has-children">
        <a href="">Categories</a>
        <ul class="sub-menu">
          <li class="menu-item-has-children">
            <a href="">Column Title</a>
            <ul class="sub-menu">
              {% for page in site.data.navigation.pages %}
              <li>
                <a href="{{ page.href | relative_url }}">{{ page.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="{{ "/archive/" | relative_url }}">Archive</a></li>
          <li><a href="">Column Title</a></li>
          <li><a href="">Column Title</a></li>
        </ul>
      </li>
      <li><a href="">Link to page</a></li>
    </ul>
  </div>
</nav>