$color-light: #e3f2eb !default;
$color-bg-alt: #61c3b4;
$color-dark: #171416;
$color-accent: #df5689;

@import "skeleton/_normalize", "skeleton/_skeleton", "alu/hero", "alu/footer";
img {
  max-width: 100%;
  object-fit: cover;
}
figure > img {
  display: block;
}
blockquote {
  border-right: solid 4px $color-accent;
  background-color: rgba($color-accent, 0.1);
  color: $color-dark;
  padding: 20px;
  margin: 10px 0 10px 20px;
  width: 50%;
  font-style: italic;
  font-size: 2rem;
  text-align: right;
  float: right;
  p {
    margin: 0;
  }
}
a {
  text-decoration: none;
  color: $color-dark;
  transition: all 300ms ease;
  &:hover {
    color: $color-accent;
  }
  &.category {
    background-color: $color-bg-alt;
    padding-inline: 5px;
    background-size: 20px;
  }
}
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #aaa;
  padding-right: 5px;
  vertical-align: text-top;
}
.post-list {
  margin: 5rem 0;
  img {
    width: 100%;
  }
  &-container-0 {
    display: block;
  }
  &-container-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;

    article {
      display: flex;
      flex-direction: row;
      gap: 10px;
      h5 {
        font-size: 1.8rem;
      }
      img {
        width: 100px;
        height: 100px;
      }

      &:first-child {
        flex-direction: column;
        img {
          width: 100%;
          height: 250px;
        }
      }
    }
  }

  &-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; // Space between items
    article {
      &:nth-child(1) {
        grid-column: span 2;
      }
      &:nth-child(2),
      &:nth-child(3) {
        grid-column: span 1;
      }
      &:nth-child(n + 4) {
        grid-column: span 2;
      }
    }
  }
  @media (min-width: 750px) {
    &-container-2 {
      grid-template-columns: repeat(3, 1fr);
      article:nth-child(n) {
        grid-column: span 1;
      }
    }
  }
}

article {
  &.news {
    padding-block: 10px;
    border-block-end: none;
    h5 {
      margin: 0;
    }
  }
  &.post {
    header {
      width: 100% !important;
      margin-block-end: 20px;
      img {
        width: 100%;
      }
      h2 {
        margin-block: 0;
      }
      p {
        color: #666;
      }
    }
    main {
      max-width: 60ch;
      text-align: justify;
    }
  }
  .post-meta {
    margin: 0;
    font-size: small;
    color: #666;
  }
}

.jatiyo-latest {
  margin: 0 auto;
  box-sizing: border-box;
  .jatiyo {
    padding: 0 20px;
  }
  aside.latest-section {
    background-color: #fff;
    padding: 20px;
  }
}

@media (min-width: 1000px) {
  .jatiyo-latest {
    position: relative;
    width: 100% !important;
    max-width: 960px;
    .jatiyo {
      padding: 0;
    }
  }
}
