@charset "utf-8";
@use "sass:math";
@use "sass:color";
$color-light: #ededed !default;
$color-primary: #3b3d6b;
$color-dark: #000200;
$color-accent: #9a4ed7;
$color-accent2: #604cfa;
$color-accent3: #abadc0;
$color-danger: #f2240f;
$color-success: #20ab68;
$color-warning: #e3ce1f;
$color-info: #f56765;
$tab: 768px;
$pc: 1024px;
$gap-default: 1rem;
$container-width: $pc;
@import "_normalize", "_functions", "_common", "_typography", "alu/hero",
  "alu/footer", "alu/jatiyo-latest", "alu/article", "alu/post-list",
  "alu/breaking-ticker", "alu/header", "alu/ad", "alu/print", "alu/navbar";
