@charset "utf-8";

$color-light: #f4f5e2 !default;
$color-primary: #697ee7;
$color-dark: #202329;
$color-accent: #f2afb9;
$color-danger: #fc291b;
$color-success: #2fc478;
$color-warning: #ebd428;
$color-info: #1b495e;
$tab: 968px;
$pc: 1024px;
$gap-default: 1rem;
$container-width: 960px;
@import "_normalize", "alu/_functions", "alu/_common", "alu/typography",
  "alu/hero", "alu/footer", "alu/jatiyo-latest", "alu/article", "alu/post-list",
  "smoothscroll", "alu/breaking-ticker" ,"alu/header";
