article {
  &.news {
    //background-color: #fff;
    padding-block: $gap-default;
    //padding: 0 $gap-default $gap-default $gap-default;
    border-block-end: none;
    h5 {
      margin: 0;
    }
  }
  &.post {
    header {
      background-color: $color-primary;

      width: 100% !important;
      padding-block: $gap-default * 3 $gap-default;
      .container {
        position: relative;
      }
      a.category,
      .subcategory {
        font-size: $h5-font-size;
      }

      .post-meta {
        margin: 0;
        opacity: 0.8;
        &__item {
          margin-inline-end: calc($gap-default/2);
        }
      }
      figure {
        width: 100%;
        margin-block-end: $gap-default * -5;
        z-index: -111;

        img {
          width: 100%;
        }
        p {
          text-align: center;
          color: readable-color(#fff);
          .credit {
            margin-inline-start: $gap-default;
          }
        }
      }
      h1 {
        margin-block: 0;
      }
      p {
        margin: 0;
      }
      h1,
      p {
        color: readable-color($color-primary);
      }
      .feather {
        stroke: readable-color($color-primary);
      }
    }
    .post-body-wrapper {
      background-color: #fff;

      main {
        padding-block-start: $gap-default;
        max-width: 60ch;
        text-align: justify;
        a {
          text-decoration: underline;
        }
        blockquote {
          border-left: solid 4px $color-info;
          background-color: rgba($color-info, 0.1);
          color: readable-color($color-info);
          padding: $gap-default;
          margin: 10px 0 10px 20px;
          width: 50%;
          font-style: italic;
          text-align: right;
          float: right;
          p {
            margin: 0;
          }
        }
      }
    }
    :has(figure) {
      + header {
        margin-block-end: $gap-default * 4;
      }
      + .post-body-wrapper > main {
        padding-block-start: $gap-default * 5 !important;
      }
    }
  }
}

.photocard {
  max-width: $container-width;
  margin: 0 auto;
  position: relative;
  &__article {
    margin-block-end: $gap-default;
    text-align: center;
    &-logo {
      position: absolute;
      left: 0;
      width: 100px;
      background-color: rgba($color-success, 0.85);
      padding: 8px;
      border-radius: 0 0 8px 0;
    }
    &-cover {
      width: 100% !important;
    }
    &-info {
      background-color: $color-primary;
      color: readable-color($color-primary);
      padding: $gap-default;
      &-title {
        color: readable-color($color-primary);
      }
      &-meta,
      &-title {
        margin: 0;
      }
      .feather {
        stroke: readable-color($color-primary);
      }
    }
  }
}
