article {
  &.news {
    padding-block: 10px;
    border-block-end: none;
    h5 {
      margin: 0;
    }
  }
  &.post {
    header {
      background-color: $color-accent;
      width: 100% !important;
      margin-block-end: $gap-default * 3;
      padding-block-start: $gap-default * 3;
      .container {
        position: relative;
      }
      a {
        font-size: $h5-font-size;
      }
       .post-meta {
    margin: 0;
    opacity: 0.6;
  }
      img {
        width: 100%;
        margin-block-end: $gap-default * -5;
        z-index: -111;
      }
      h1 {
        margin-block: 0;
      }
      p {
        margin: 0;
      }
    }
    main {
      margin-block-start: $gap-default * 6;
      max-width: 60ch;
      text-align: justify;
      a {
        text-decoration: underline;
      }
      blockquote {
        border-right: solid 4px $color-success;
        background-color: rgba($color-success, 0.1);
        color: $color-dark;
        padding: $gap-default;
        margin: 10px 0 10px 20px;
        width: 50%;
        font-style: italic;
        text-align: right;
        float: right;
        p {
          margin: 0;
        }
      }
    }
  }
 
}
