.swiffy-slider.breaking-ticker {
  padding-block-end: 0 !important;
  border-block-end: 2px solid $color-accent;
  .title {
    padding-block-start: 8rem;
    background-color: $color-accent;
    padding-inline: $gap-default;
  }
  .slider-container {
    padding: 0;
    .slide-visible {
      padding-inline: $gap-default;
      p {
        margin: 0;
      }
      h4 {
        max-width: 90%;
      }
    }
  }
}
