footer {
  padding-block: $gap-default;
  background-color: #fff;
  margin-block-start: $gap-default * 4;
  .logo {
    width: 200px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      papadding: 0;
    }
  }
}
