header {
  background-color: #fff;
  .tac {
    display: flex;
    width: 100%;
    justify-content: center;
    a {
      display: block;
      padding: $gap-default;
    }
    img {
      max-width: 256px;
    }
  }
}
