header.logo-header {
  background-color: #fff;
  .tac {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: $gap-default * 4;

    a.site-title {
      display: block;
      //  padding: $gap-default;
    }
    img {
      max-width: 256px;
      padding: $gap-default;
    }
    .latest-news {
      display: none;
    }
  }
  @include pc {
    .tac {
      max-width: 1442px;
      margin: 0 auto;
      height: 20vh;
      .latest-news {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $gap-default * 3;
        padding-inline-end: $gap-default;
      }
    }
  }
}
