.hero {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $gap-default;
  padding: $gap-default;
  max-width: 1424px;
  margin: 0 auto;
  article {
    position: relative;
    width: 100%;
    overflow: hidden;
    &:first-child {
      .title:before {
        content: "ফিচার্ড";
        background-color: $color-accent;
        color: readable-color($color-accent);
        padding-inline: $gap-default;
      }
    }

    a {
      display: block;
      height: 100%;
      &:hover {
        img {
          scale: 1.1;
        }
      }
      img {
        height: 100%;
        width: 100%;
        transition: scale 200ms ease;
      }
      .meta {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        .title {
          display: inline;
          background-color: $color-light;
          color: $color-dark;
        }
      }
    }
  }
  @media (min-width: $tab) {
    grid-template-columns: repeat(2, 1fr);
    article {
      &:nth-child(3) {
        grid-row: span 2;
        //grid-column: span 2;
      }
    }
  }
  @media (min-width: $pc) {
    grid-template-columns: repeat(4, 1fr);
    article:nth-child(3){
      grid-row: span 1;
    }
    article:first-child {
      grid-row: span 2;
      grid-column: span 2;
    }
  }
}
