.hero {
  display: grid;
  grid-template-columns: 1fr;
  margin-block: 50px;
  padding: 20px;
  gap: 10px;
  background-color: #eee;

  &__featured {
    position: relative;

    overflow: hidden;
    height: 100%;

    img {
      height: 100% !important;
      width: 100% !important;
      object-fit: cover;
    }

    div {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;

      .title {
        margin: 0 !important;
        width: 100%;
        background-color: #fff;
        display: inline;
        span {
          background-color: black;
          color: white;
          padding: 0 10px;
        }
      }

      .hero__excerpt {
        margin: 0;
        font-size: 1rem;
      }
    }
  }

  aside {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    article {
      overflow: hidden;
      position: relative;
      height: 100%;
      img {
        position: relative;
        height: 100px;
        width: 100%;
      }
      div {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        h5 {
          background-color: #fff;
          display: inline;
          margin: 0;
        }
      }
    }
  }

  @media (min-width: 750px) {
    margin-block-end: 100px;
    grid-template-columns: 1fr 1fr;
    border-block-end: none;
    &__featured {
      div {
        .title {
          font-size: 2rem;
        }
      }
    }
    aside {
      grid-template-columns: repeat(2, 1fr);
      article {
        img {
          height: 100%;
        }
      }
    }
  }
}
