.jatiyo-latest {
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box !important;
  gap: $gap-default;
  border-block-end: 2px solid $color-primary;

  h4 {
    // padding: 0 $gap-default;
    color: readable-color($color-primary);
  }
  .jatiyo {
    padding: 0 $gap-default;
    .jatiyo-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $gap-default;
    }
  }
  .latest-section {
    box-sizing: border-box;
    margin-block-start: $gap-default * 4;
    border-inline-start: 4px solid $color-primary;
    .latest-heading {
      background-color: $color-primary;
      padding-block: $gap-default;
      h4 {
        padding-inline-start: $gap-default;
        margin: 0;
        color: readable-color($color-primary);
      }
    }
    .latest-wrapper {
      p {
        margin: 0;
      }
      article {
        padding: $gap-default * 2 $gap-default;
        border-block-end: 1px solid $color-primary;
        &:last-child {
          border-block-end: 0;
        }
      }
    }
  }
}

@media (min-width: $tab) {
  .jatiyo-latest {
    // width: 100% !important;
    max-width: $container-width;
    .jatiyo {
      padding: 0;
      //padding-inline-start: $gap-default;
    }
    .latest-section {
      margin: 0;
      padding-inline-start: 0;

      .latest-heading {
        width: 51vw;
        padding: 0;
      }
      .latest-wrapper {
        article {
          padding: $gap-default;
        }
      }
    }
  }
}
