.post-list {
  margin-block-start: $gap-default * 2;
  img {
    width: 100%;
  }
  &-container-0 {
    display: block;
  }
  &-container-1 {
    display: flex;
    flex-direction: column;
    gap: $gap-default/2;

    article {
      display: flex;
      flex-direction: row;
      gap: $gap-default;
      img {
        width: 100px;
        height: 100px;
      }

      &:first-child {
        flex-direction: column;
        img {
          width: 100%;
          height: 250px;
        }
      }
    }
  }

  &-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-default; // Space between items

    article {
      display: flex;
      flex-direction: column;
      width: 100%;
      //height: 100%;
      &:nth-child(3) {
        grid-column: span 2;
      }
      img {
        height: 100%;
        margin-block-end: calc($gap-default/2);
      }
    }
  }
  @include tab {
    margin: 0;
    &-container-2 {
      grid-template-columns: repeat(3, 1fr);
      article:nth-child(3) {
        grid-column: span 1;
      }
    }
  }
}

.pager {
  list-style: none;
  margin-block-start: $gap-default * 4;
  padding: 0;
  li {
    display: inline-flex;
    //gap: $gap-default;
    a {
      margin-inline-end: $gap-default;
      background-color: $color-accent;
      color: readable-color($color-accent);
      padding: calc($gap-default/2) $gap-default;
      display: inline-flex;
      //border-radius: $gap-default;
    }
  }
}
