$heading-margin-top: 0;
$heading-margin-bottom: 0.5rem;
$heading-font-weight: 500;
$heading-line-height: 1.2;
$heading-color: $color-dark;

$h1-font-size: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);

$h2-font-size: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);

$h3-font-size: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);

$h4-font-size: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);

$h5-font-size: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
$h6-font-size: 1rem;

html {
  font-size: 16px;
  line-height: 1.7;
  @media (min-width: $pc) {
    font-size: 20px;
  }
}
body {
  font-size: clamp(1.105rem, 1.0015rem + 0.217vw, 1.2rem);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $heading-margin-top;
  margin-bottom: $heading-margin-bottom;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  color: $heading-color;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

small,
.small {
  font-size: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
}
