---
layout: default_fluid
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="container">


      <a itemprop="category" href="{{ "/categories/" | append: page.categories.last  | relative_url }}" class="category"><span class="p-category h-card" itemprop="category">{{ page.categories.last }}</span></a>

      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>


      <p class="post-meta">
        <span class="post-meta__item">
          {% include icon.html icon="calendar" %}

          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">

            {{ page.date |  bangla_date }}
          </time>
        </span>
        {%- if page.author -%}
        <span class="post-meta__item">
          {% include icon.html icon="pen-tool" %} <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        </span>
        {%- endif -%}
        {%- if page.place -%}
        <span class="post-meta__item">  {% include icon.html icon="map-pin" %} <span itemprop="place" itemscope itemtype="http://schema.org/Place"><span class="p-place h-card" itemprop="place">{{ page.place }}</span></span>
        </span>
        {%- endif -%}
      </p>
      {% if page.cover.image %}
      <img src="{{ page.cover.image }}" alt="{{ page.cover.alt }}" class="cover-image">
      {% endif %}
    </div>
  </header>

  <main class="post-content container e-content" itemprop="articleBody">
    {{ content }}
  </main>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>